@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Dog Wash is a full-service bathing, grooming, boarding, day camp, and training facility.
    As a certified member of the Pet Care Services Association, we have proudly served Jackson-area
    pet owners and their dogs and cats since 1990. We offer your beloved pets all the amenities,
    special treatment, and care that you would provide for them at home. All of our guests receive
    individual attention every day to make sure they feel wanted and loved. It makes our staff and
    the owners feel good when their pets are comfortable with their stay at The Dog Wash; most pets
    who’ve been here before can’t wait to enter The Dog Wash door when they return.</p>
<img src="~/Content/Images/happydog.jpg" />
