@{
    ViewBag.Title = "Home - Dog Wash";
}

<div class="jumbotron">
    <h1>Dog Wash</h1>
    <p class="lead">Welcome to Dog Wash! We love all dogs, especially clean ones!
    Visit our About page to learn more about our organization.
    Visit our Contact page to find us, and visit our Schedule page to set up a time to get your pup squeaky clean.</p>
    <p><a href="https://www.facebook.com/thedogwashinc/" class="btn btn-primary btn-lg">Like us on Facebook &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Passion</h2>
        <img src="~/Content/Images/dog-1.jpg" />
        <p>
            Dog Wash is a website made by Amer and Emily.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Our Customers</h2>
        <img src="~/Content/Images/dog-3.png" />
        <p>We value our customers, especially our furry ones!</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Discounts</h2>
        <img src="~/Content/Images/dog-2.png" />
        <p>Join our email list!</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>